<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page vIEWS</title>
   <!-- <link rel="stylesheet" 
        type="text/css" 
        href="/css/style.css"> -->
</head>
<body>
    <%- include('common/header')%>
    <img src="/assets/nature.jpg" alt="Nature Images">
    <img src="/assets/world.webp" alt="Nature Images">
    <img src="https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=" alt="Nature Images">
    <h1 class="color">Home Page vIEWS ......... !!</h1>
</body>
</html>