/* .task{
    margin: 10px 0;
    list-style-type: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.task button{
outline: none;
border: none;
background-color: blueviolet;
color: aliceblue;
padding: 15px 10px;
margin: 4px;
width: 180px;
border-radius: 20px;
} */